@font-face {
    font-family: 'Pixel';
    src: url('GomePixel-DYJX1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Pixel';
    text-align: center;
    background-color: rgb(29, 29, 29);
}

#title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Pixel';
    font-size: 50px;
}

#subtitle {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Pixel';
}

#search_bar {
    font-family: 'Pixel';
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px;
    width: 300px;
}

#search_button {
    font-family: 'Pixel';
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

#search_button:hover {
    background-color: rgb(60, 60, 60);
}

#apple_container {
    font-family: 'Pixel';
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

#download_apple_button {
    font-family: 'Pixel';
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

#download_apple_button:hover {
    background-color: rgb(60, 60, 60);
}

#section {
    font-family: 'Pixel';
    color: white;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
}

#cookie_container {
    font-family: 'Pixel';
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

#download_cookie_button {
    font-family: 'Pixel';
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

#download_cookie_button:hover {
    background-color: rgb(60, 60, 60);
}

#information {
    font-family: 'Pixel';
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 20px;
}
